{% extends 'quiz/base.html' %}

{% block content %}
<section class = "mt-5">
    <h4>Development Status</h4>
    <hr>
    <div>
        <small class = "bg-primary p-2 text-light">Friday September 2, 2022</small>
        <p>
            <ul>
                <li>Added custom javascript to facilitate question switching</li>
                <li>Added the 'Development Status' Page to the app</li>
                <li>Configured the Next Button to work and also removed the previous button</li>
            </ul>
        </p>
    </div>

    <div>
        <small class = "bg-primary p-2 text-light">Saturday September 3, 2022</small>
        <p>
            <ul>
                <li></li>
            </ul>
        </p>
    </div>
</section>
{% endblock %}